name: create lib Tag

on:
  workflow_dispatch:
    inputs:
      SPHA_LIB_VERSION:
        description: "LIB version and tag"
        required: true
        type: string

permissions:
  contents: write

jobs:
  create-lib-tag:
    env:
      SPHA_LIB_VERSION: ${{ inputs.SPHA_LIB_VERSION }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0

      - name: Create release tag
        id: createRelease
        run: |
          git tag "$SPHA_LIB_VERSION"

      - name: Push new tag
        run: |
          git push origin --tags
