name: Java CI with Gradle

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    permissions:
      contents: read
      checks: write
      pull-requests: write # only required if `comment: true` is enabled

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Java 24
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2

      - name: Execute Gradle assemble
        run: ./gradlew assemble

      - name: Execute tests
        run: ./gradlew test

      - name: Code style
        run: ./gradlew ktfmtCheck

      - name: Test Summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86
        with:
          paths: "**/test-results/**/TEST-*.xml"
        if: always()

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          token: ${{ secrets.GITHUB_TOKEN }}
          comment: true
          updateComment: true

      - name: Code Coverage
        id: jacoco
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        with:
          paths: |
            ${{ github.workspace }}/**/adapter/build/reports/jacoco/test/jacocoTestReport.xml,
            ${{ github.workspace }}/**/core/build/reports/jacoco/test/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: '75'
          min-coverage-changed-files: '75'
          title: Code Coverage
          update-comment: true
